/* LOGIN */
.main__right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid  rgba(255, 255, 255, 0.25);
}

/* LOGIN FORM */
.main__right-side form {
    display: flex;
    flex-direction: column;
    gap: 14.4px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 26px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.main__right-side form label input{
    color: white;
    padding: 10px;
    font-size: 18px;
}

/* LOGIN FORM LINK */
.main__right-side form a {
    text-decoration: underline;
    color: var(--form-link-color);
    line-height: 27px;
    text-align: center;
    font-size: 12px;
}

/* LOGIN TITLE */
.main__right-side h2 {
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 20px;
}

/* LOGIN FORM LABEL */
.main__right-side label {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    gap: 5px;
    font-size: 12px;
}

/* LOGIN FORM INPUT */
.main__right-side label input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    height: 42px;
    width: 312px;
}

/* HIDE BUTTON */
.hide-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    cursor: pointer;
}

.hide-button:hover {
    transition: opacity ease .4s;
    opacity: 0.8;
}

/* LOGIN LABEL */
.login-label {
    display: flex;
    justify-content: space-between;
    margin-right: 9px;
}

.auth-input:focus {
    transition: border-color ease .4s;
    border: 2px solid white;
}

/* LOGIN BTN */
.login-button {
    background-color: var(--disabled-button-color);
    opacity: 0.5;
    color: white;
    cursor: pointer;
    border: none;
    height: 40px;
}

/* CREATE ACCOUNT BTN */
.create-button {
    width: 312px;
    max-width: 520px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.create-button:hover {
    transition: background-color ease .4s, color ease .4s;
    background-color: white;
    color: var(--bg-color);
}

.create-button:active {
    transition: ease .4s;
    transform: scale(.95);
}

/* GOOGLE BTN */
.google-button {
    width: 314px;
    height: 42px;
    max-width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.8px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: 1px solid var(--google-button-border-color);
    font-family: Avenir, serif;
    color: var(--google-button-border-color);
    font-size: 11px;
    border-radius: 24px;
    padding: 10.2px 0;
}

.google-button:hover {
    background-color: white;
    transition: ease .4s;
}

.google-button:active {
    transition: ease .4s;
    transform: scale(0.95);
}